@model TehHotel.Gui.Test.Models.RezervacijaPosebneStoritve
@{
    ViewBag.Title = "MozneRezervacije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mozne rezervacije dvorane </h2><br />

@using (Html.BeginForm("ShraniRezervacijoDvorane", "Dvorana")) {
    <table class="mojatabela">
        <tr>
            <th>Izberi
            </th>
            <th>#Id
            </th>
            <th>Ime
            </th>
            <th>Površina
            </th>
            <th>Število ljudi
            </th>
        </tr>
        @foreach (var item in ViewBag.Data)
        {
            <tr>
                <td>
                    <input type="radio" name="idStoritve" value="@item.IdDvorana" />
                </td>
                <td>
                    @item.IdDvorana
                </td>
                <td>
                    @item.Ime
                </td>
                <td>
                    @item.Povrsina
                </td>
                <td>
                    @item.StLjudi
                </td>
            </tr>
        }
    </table>
    @Html.HiddenFor(m => m.datumOd)
    @Html.HiddenFor(m => m.datumDo)
    <input type="submit" name="submit" value="Izberi" />
}