<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("TehHotel.", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Rezervacije", "Index", "Rezervacije")</li>
                            <li>@Html.ActionLink("Soba", "Index", "Soba")</li>
                            <li>@Html.ActionLink("Parkirisce", "Index", "Parkirisce")</li>
                            <li>@Html.ActionLink("Dvorana", "Index", "Dvorana")</li>
                            <li>@Html.ActionLink("Stranka", "Index", "Stranka")</li>
                            <li>@Html.ActionLink("Hoteli", "Index", "Hotel")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        <script>
            $(function () {
                $(".datepicker").datepicker();
                $(".datepicker").datepicker("option", "dateFormat", "dd/mm/yy");
            });
</script>
    </body>
</html>
